<br />
<div class="jumbotron">
  <h1 class="display-4">Add a new product from...</h1>
  <a href="https://www.emag.ro" target="blank">
    <img src="https://s0emagst.akamaized.net/layout/ro/images/logo//38/57629.png">
  </a>
  <hr class="my-4">

  <%= render 'form', product: @product %>

  <%= link_to 'Back', products_path %>
</div>

